<table class="table">
  <thead>
    <tr>
      <th (click)="sortTable(userColumnType.firstname)">
        First name
        {{ "firstname" | sortDirection : userSort.sortColumn : userSort.sortDirection }}
      </th>
      <th (click)="sortTable(userColumnType.surname)">
        Surname{{ "surname" | sortDirection : userSort.sortColumn : userSort.sortDirection }}
      </th>
      <th (click)="sortTable(userColumnType.username)">
        Username{{ "username" | sortDirection : userSort.sortColumn : userSort.sortDirection }}
      </th>
      <th (click)="sortTable(userColumnType.email)">
        Email{{ "email" | sortDirection : userSort.sortColumn : userSort.sortDirection }}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of data; trackBy: userTrackBy">
      <td>{{ user.firstname }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>

<ng-template #loading>Loading users...</ng-template>
